+media(any)

  *
    outline: none

  body
    text-style: text.sans-body
    min-width: 990px

  a
    color: colors.link
    &:hover
      text-decoration: none

  html, body
    margin: 0
    padding:0
    position:absolute
    bottom:0
    top:0
    right:0
    left:0

  .page
    width: 1170px
    padding: 0 20px
    centered: true

  .grid:before
    content: ""
    width: 1170px
    margin: auto
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    z-index: 99999
    background: linear-gradient(left, rgba(255,0,0,.2) 70px, transparent 70px)
    background-size: 100px
    pointer-events: none
    +media(mq.desktop)
      width: 940px
      background: linear-gradient(left, rgba(255,0,0,.2) 60px, transparent 60px)
      background-size: 80px

  .pagination
    border: 1px solid #000
    list-style: none
    display: flex
    width 470px
    margin: 50px auto
    justify-content: space-between
    padding: 0
    &__item
      border-left: 1px solid #000
      &.active
        background: colors.bg
        color: colors.white
      a
        display: block
        padding: 0 10px
        height: 30px
        line-height: 30px
        box-sizing: border-box

  .scroll-wrap
    height: 100px
    p
      font: 18px/1.3 Arial
      padding-top: 40px


+media(mq.desktop)

  .page
    width: 940px