<template>
  <div id="app">
    <div class="page grid">
      <Post msg="Welcome to Your Vue.js + TypeScript App"/>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Post from './components/Post.vue';

@Component({
  components: {
    Post
  },
})

export default class App extends Vue {}
</script>
