//Размеры
sizes.vertical-step = 9px  // вертикальный ритм

//Палитра
colors.default = #F5F9FC   // Светло Синий
colors.white   = #fff      // Белый
colors.text    = #000      // Черный
colors.bg      = blue //BG

// Путь
paths = "../assets/"

// Шрифтовые стили
fonts.pt-sans = font-stack("PT Sans", serif)

text.sans-body = {
  font-family: fonts.pt-sans,
  font-size: 14px,
  line-height: 17px
}

// Merri
webfonts.pt-sans-regular = {
  font-family: "PT Sans",
  font-file: "pt-sans/regular.%s",
  font-style: normal,
  font-weight: normal
}

webfonts.pt-sans-bold = {
  font-family: "PT Sans",
  font-file: "pt-sans/bold.%s",
  font-style: normal,
  font-weight: bold
}
